@import "footer.css";
@import "slider.css";
@import "Chairs.css";
@import "navigation.css";
@import "prices.css";
@import "contact.css";

@font-face {
    font-family: 'Raleway-Black';
    src: url("../fonts/Raleway-Black.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Raleway-Black, Tahoma, sans-serif;

}

.widht__keeper {
    width: 80%;
    margin: 0 auto;
}
